<template>
  <v-container>
    <v-row align="center" justify="center" class="ma-4">
      <v-col cols="12">
        <v-img :src="logo" class="my-3" contain height="200" />
      </v-col>

      <v-col cols="12" md="4">
        <select-country :items="countries" @select="store.filters.country = $event" />
        <select-score :items="scores" @select="store.filters.score = $event" />
      </v-col>

      <v-col cols="12" md="4">
        <v-card max-width="450" class="mx-auto">
          <template v-if="!fakeIsLoading && !users.length">
            <v-col cols="12" md="4" class="d-flex justify-center"> No results </v-col>
          </template>

          <template v-if="fakeIsLoading">
            <v-col cols="12" md="4" class="d-flex justify-center">
              <v-progress-circular />
            </v-col>
          </template>

          <template v-if="!fakeIsLoading">
            <v-list three-line>
              <user-list-item v-for="(item, index) in users" :key="index" :user="item" />
            </v-list>
          </template>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import logo from '@/assets/logo.svg'
import { useStore } from '@/store'
import { computed, ref, watch } from 'vue'
import SelectCountry from './SelectCountry.vue'
import SelectScore from './SelectScore.vue'
import UserListItem from './UserListItem.vue'

const store = useStore()

const countries = ref(['russia', 'usa'])
const scores = ref(['> 20', '< 10'])
const users = computed(() => store.filterResults)
const fakeIsLoading = ref(false)

watch(users, () => {
  fakeIsLoading.value = true
  setTimeout(() => {
    fakeIsLoading.value = false
  }, 1000)
})
</script>
