<template>
  <v-select v-model="store.filters.score" :items="items" clearable label="Filter by score"></v-select>
</template>

<script setup lang="ts">
import { useStore } from '@/store'

defineProps({
  items: {
    type: Array,
    required: true,
  },
})

const store = useStore()
</script>
