<template>
  <v-list-item>
    <v-tooltip bottom open-on-click :open-on-hover="false">
      <template #activator="{ props }">
        <v-list-item-avatar v-bind="props">
          <v-img :src="user.avatar"></v-img>
        </v-list-item-avatar>
      </template>

      <span>{{ user.address }}</span>
    </v-tooltip>

    <v-list-item-content>
      <v-list-item-title v-html="user.title"></v-list-item-title>
      <v-list-item-subtitle v-html="user.subtitle"></v-list-item-subtitle>
    </v-list-item-content>
  </v-list-item>
</template>

<script setup lang="ts">
import type { User } from '@/store'
import type { PropType } from 'vue'

defineProps({
  user: {
    type: Object as PropType<User>,
    required: true,
  },
})
</script>
