<template>
  <v-app>
    <v-main>
      <ContentBlock />
    </v-main>

    <v-footer app v-bind="localAttrs">
      <TheFooter />
    </v-footer>
  </v-app>
</template>

<script setup lang="ts">
import ContentBlock from '@/components/ContentBlock.vue'
import TheFooter from '@/components/TheFooter.vue'
import { computed } from 'vue'

const localAttrs = computed(() => {
  return {
    absolute: true,
    fixed: false,
  }
})
</script>
